In [21]:
import pymysql
def db():
    try:
        dbcon=pymysql.connect(host="localhost", user="trinath", passwd="ct@12")
        return dbcon
    except Exception as err:
        print "uanble to connect database:",err
con=db()
cur=con.cursor()
cur.execute("show databases")
l=cur.fetchall()
print l
l=[i[0] for i in l]
print l
con.close()

uanble to connect database: (1045, u"Access denied for user 'trinath'@'localhost' (using password: YES)")

AttributeError: 'NoneType' object has no attribute 'cursor'

In [57]:
con=db()
cur=con.cursor()
cur.execute("show databases")
l=cur.fetchall()
print l
l=[i[0] for i in l]
print l
con.close()

(('information_schema',), ('mysql',), ('performance_schema',), ('sys',), ('trinath',))
['information_schema', 'mysql', 'performance_schema', 'sys', 'trinath']

In [62]:
con=db()
cur=con.cursor()
q="CREATE TABLE test1(DATE int, server VARCHAR(30), space VARCHAR(20));"
cur.execute(q)

0

In [65]:
con=db()
cur=con.cursor()
q="insert into test1 values(%s,'server:%s',%s)"%(123456,"duketlbi",123)
cur.execute(q)

1

In [87]:
con=db()
cur=con.cursor()
cur.execute("create table customer(id int, name varchar(60))")
q="insert into customer values(1,'jay')"
cur.execute(q)
con.commit()
con.close()

In [89]:
con=db()
cur=con.cursor()
for i in range(2,12):
    q1="insert into customer values(%s, 'Name:%s')"%(i,i)
    cur.execute(q1)
con.commit()
con.close()

In [90]:
con=db()
cur=con.cursor()
for i in range(13,20):
    q1="insert into customer values(%s, 'Name:%s')"%(i,i)
    cur.execute(q1)
con.commit()
con.close()