In [53]:
class Dog:
    species = 'mammal'
    def __init__(self,name,age):
        self.name=name
        self.age=age
puppy = Dog("puppy", 5)
tuppy = Dog("tuppy", 6)
print (puppy.name, puppy.age, tuppy.name, tuppy.age)
if puppy.species == "mammal":
    print("{0} is a {1}!".format(puppy.name, puppy.species))

('puppy', 5, 'tuppy', 6)
puppy is a mammal!

In [56]:
class Dog:
    def __init__(self,name,age):
        self.name=name
        self.age=age
puppy = Dog("puppy", 5)
tuppy = Dog("tuppy", 6)
print (puppy.name, puppy.age, tuppy.name, tuppy.age)

('puppy', 5, 'tuppy', 6)

In [59]:
class Dog:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def get(self,name,age):
        return self.name,self.age
puppy = Dog("puppy", 5)
tuppy = Dog("tuppy", 6)
print (puppy.name, puppy.age, tuppy.name, tuppy.age)

('puppy', 5, 'tuppy', 6)

In [41]:
class Emp:
    company_name="Khyaathi"# company_name is a class attribute
    def get(self):
        pass
jay=Emp()
jay.name="Jayaram"
jay.address="Hyd"
jay.id=6973
vedha = Emp()
vedha.name="Vedha"
vedha.address="Sec"
vedha.id=6974
print vedha.name, vedha.id, vedha.address, vedha.company_name
print jay.name, jay.id, jay.address, jay.company_name

Vedha 6974 Sec Khyaathi
Jayaram 6973 Hyd Khyaathi

In [52]:
class Emp:
    company_name="GE"
    def __init__(self,name,eid,eadd):
        self.name=name
        self.eid=eid
        self.eadd=eadd
tri=Emp("Tri",6973,"Hyd")
nath=Emp("Nath",6974,"Sec")
print tri.name, tri.eid, tri.eadd, tri.company_name
print nath.name, nath.eid, nath.eadd, nath.company_name

Tri 6973 Hyd GE
Nath 6974 Sec GE