In [1]:
#arithmatic operators: +,-,*,/,%,**
#boolean operators: >,<,<=,>=,==,!=,is,in,not in
#bitwise operators: &,|,^, >>,<<

#int supports all except in and not in
#it's not supports in, not in, and all bitwise operators

# all arithmatic operators are not supports except +
# string will supports all boolean operators
# string will not supports all bitwise operators

In [63]:
l=[1,2,3,4,"pytho",1.2,1+2j] #list
c=1+2j                       #complex
d={"name":"anil","age":23}   #dict
t=(10,20,30,40,"pyton",1.2,1+2j) #tuple
s=set([10,20,30,40])         #set

In [9]:
a=10
b=20

In [10]:
a+b

30

In [11]:
a-b

-10

In [12]:
a*b

200

In [13]:
a%b

10

In [14]:
a/b

0

In [15]:
a>b

False

In [16]:
a<b

True

In [17]:
a in b

TypeError: argument of type 'int' is not iterable

In [18]:
a is b

False

In [19]:
a >> b

0

In [20]:
a << b

10485760

In [21]:
s1="python"
s2='program'
print s1+s2

pythonprogram

In [22]:
#a square root of b
a**b

100000000000000000000L

In [23]:
10**2

100

In [25]:
a+b**2

800

In [26]:
a=raw_input("Enter a value:")
b=input("Enter b value:")
print a,type(a)
print b, type(b)

Enter a value:10
Enter b value:20
10 <type 'str'>
20 <type 'int'>

In [31]:
name="anil"
age=23
weight=56.66788
height=5.65786
# Person details:
# Name:anil, Age:23, Height:5.66, Weight:56.66788
print "Person details:\t"
print "Name:%s, Age:%s, Weight:%.2f, Height:%.2f"%(name,age,weight,height)

Person details:
Name:anil, Age:23, Weight:56.67, Height:5.66

In [32]:
print r"A\nB\nC"

A\nB\nC

In [33]:
print "A\nB\nC"

A
B
C

In [35]:
#It's a "hot" day in 'hyderabad'
print "It's a \"hot\" day in 'hyderabad'"

It's a "hot" day in 'hyderabad'

In [36]:
cost_price=30
print "cost price of the product:",cost_price

cost price of the product: 30

In [37]:
cost_price=30
print "cost price of the product:"+cost_price

TypeError: cannot concatenate 'str' and 'int' objects

In [39]:
cost_price=30
print "cost price of the product:"+str(cost_price)

 cost price of the product:30

In [46]:
print "%o"%1024

2000

In [49]:
print "%x"%5678

162e

In [50]:
print "%X"%5678

162E

In [51]:
print "%x"%9000772175

2187ce24f

In [56]:
print int("2187ce24f",16)

9000772175

In [59]:
print int("10101010",2)

170

In [61]:
import keyword
print keyword.kwlist

['and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'exec', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'not', 'or', 'pass', 'print', 'raise', 'return', 'try', 'while', 'with', 'yield']